<mat-horizontal-stepper linear #stepper>
  <!-- 填寫基本資料頁面 -->
  <mat-step [stepControl]="basicFormGroup">
    <form [formGroup]="basicFormGroup">
      <ng-template matStepLabel>個人基本資料</ng-template>
      <h2>個人基本資料表</h2>
      <mat-form-field>
        <mat-label>中文姓名</mat-label>
        <input matInput placeholder="姓名" formControlName="localName" >
      </mat-form-field>
      <mat-form-field>
        <mat-label>英文姓名</mat-label>
        <input matInput placeholder="英文名字" formControlName="englishName">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>應徵職務</mat-label>
        <mat-select matNativeControl >
          <mat-option *ngFor="let position of positionList" [value]="position.value">
            {{position.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
          <br>
      <mat-form-field>
        <mat-label>身份證字號</mat-label>
        <input matInput placeholder="身份證字號" formControlName="idNumber" >
      </mat-form-field>
      <mat-form-field>
        <input type="text" formControlName="birthday" matInput placeholder="出生年月日" [matDatepicker]="birthdayPicker" />
        <mat-datepicker-toggle [for]="birthdayPicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #birthdayPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>國籍</mat-label>
        <input matInput placeholder="國籍" formControlName="nationality">
      </mat-form-field>
      <div>
        <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">男</mat-radio-button>
        <mat-radio-button value="2">女</mat-radio-button>
        </mat-radio-group>
        <mat-form-field class="example-small-width">
          <mat-label>身高</mat-label>
          <input matInput placeholder="身高" formControlName="nationality" >
        </mat-form-field>
        <mat-label>CM</mat-label>
        <mat-form-field class="example-small-width">
          <mat-label>體重</mat-label>
          <input matInput placeholder="體重" formControlName="nationality" >
        </mat-form-field>
        <mat-label>KG</mat-label>
        <mat-form-field class="example-small-width">
          <mat-label>血型</mat-label>
          <input matInput placeholder="血型" formControlName="nationality" >
        </mat-form-field>
      </div> <br>
      <mat-card class="post-tile">
        <mat-card-title>證件照上傳</mat-card-title>
        <br>
        <img mat-card-image [src]="url"><br>
      <input id="file" type='file' (change)="onSelectFile($event)" style="display: none"/>
        <button mat-raised-button color="primary" onclick="file.click()">
          <span class="material-icons">
          perm_media </span> 選擇檔案 </button>
      </mat-card>
      <br>

      <div>
        <h2>婚姻狀況</h2>
        <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">未婚</mat-radio-button>
        <mat-radio-button value="2">已婚</mat-radio-button>
        <mat-radio-button value="3">離婚</mat-radio-button>
        <mat-radio-button value="4">喪偶</mat-radio-button>
        </mat-radio-group>
      </div>
      <br>
      <div>
        <h2>兵役狀況</h2>
        <mat-radio-group aria-label="Select an option">
        <mat-radio-button [value]="1" >志願役</mat-radio-button>
        <mat-radio-button [value]="2" >義務役</mat-radio-button>
        <mat-radio-button [value]="3" >替代役</mat-radio-button>
        <mat-radio-button [value]="4" >免役</mat-radio-button>
        </mat-radio-group>
        <pre></pre>
      <mat-form-field appearance="fill">
      <mat-select  placeholder="請選擇兵種">
        <mat-option value="option1">陸軍</mat-option>
        <mat-option value="option2">海軍</mat-option>
        <mat-option value="option3">空軍</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>起訖日期</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date">
          <input matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      </div>
      <br>
      <h2>現居地址</h2>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button [value]="1" >自宅</mat-radio-button>
        <mat-radio-button [value]="2" >租屋</mat-radio-button>
      </mat-radio-group>
      <pre></pre>
      <mat-form-field  class="example-full-width">
        <mat-label>現居地址</mat-label>
        <input matInput placeholder="現居地址" formControlName="address" >
      </mat-form-field>
      <pre></pre>
      <h2>聯絡方式</h2>
      <mat-form-field >
        <mat-label>手機</mat-label>
        <input matInput placeholder="手機" formControlName="mobile" >
      </mat-form-field>
      <mat-form-field >
        <mat-label>市話</mat-label>
        <input matInput placeholder="市話 (請加上區碼)" formControlName="phone" >
      </mat-form-field>
      <pre></pre>
      <mat-form-field class = "example-full-width">
        <mat-label>電子信箱</mat-label>
        <input matInput placeholder="電子信箱" formControlName="email" >
      </mat-form-field>
      <pre></pre>

      <h2>學歷與工作經歷</h2>
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              學歷資料
            </mat-panel-title>
            <mat-panel-description>
              請輸入學歷
            </mat-panel-description>
          </mat-expansion-panel-header>
          <form #schoolForm="ngForm" class="container mt-3" (ngSubmit)="logSchoolValue()">
          <section *ngFor="let school of schoolList; let i = index;">
          <mat-form-field>
            <mat-label>學校名稱</mat-label>
            <input matInput type='text' [(ngModel)]="school.schoolName"
            name = "schoolName_{{school.id}}">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>學制</mat-label>
            <mat-select matNativeControl  [(ngModel)]="school.schoolSystem" name="schoolSystem_{{school.id}}" >
              <mat-option value="doctor">博士班</mat-option>
              <mat-option value="graduateSchool">研究所</mat-option>
              <mat-option value="university">大專院校</mat-option>
              <mat-option value="juniorCollege">五專</mat-option>
              <mat-option value="highSchool">高中職</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>科系</mat-label>
            <input matInput type='text' [(ngModel)]="school.major"
            name = "major_{{school.id}}">
          </mat-form-field>
          <mat-form-field>
            <mat-label>起訖日期</mat-label>
            <mat-date-range-input [rangePicker]="schoolpicker" type='text' [(ngModel)]="school.duringDate"
            name = "duringDate_{{school.id}}">
              <input matStartDate placeholder="Start date">
              <input matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="schoolpicker"></mat-datepicker-toggle>
      <mat-date-range-picker #schoolpicker></mat-date-range-picker>
          </mat-form-field>
          <mat-label>&nbsp;&nbsp;&nbsp;</mat-label>
          <mat-radio-group aria-label="Select an option" [(ngModel)]="school.status"
          name = "status_{{school.id}}">
            <mat-radio-button value="graduated">畢業</mat-radio-button>
            <mat-radio-button value="undergraduate">肄業</mat-radio-button>
            <mat-radio-button value="still">在學中</mat-radio-button>
            </mat-radio-group>
            <mat-label>&nbsp;&nbsp;&nbsp;</mat-label>
            <button mat-icon-button color = "accent" type="button" (click)="removeSchool()">
              <span class="material-icons">
                cancel
                </span>
            </button>
          </section>
          </form>
            <!-- Add button -->
             <button mat-raised-button color = "primary" type="button" (click)="addSchool()">Add School</button>
            <!-- ngFor code -->
          </mat-expansion-panel>
        </mat-accordion>


        <pre></pre>
        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                工作經歷資料
              </mat-panel-title>
              <mat-panel-description>
                請輸入工作經歷
              </mat-panel-description>
            </mat-expansion-panel-header>

            <form #workForm="ngForm" class="container mt-3" (ngSubmit)="logWorkValue()">
            <section *ngFor="let work of workList; let i = index;">
            <mat-form-field>
              <mat-label>公司名稱</mat-label>
              <input matInput  type='text' [(ngModel)]="work.companyName"
              name = "companyName_{{work.id}}">
            </mat-form-field>
            <mat-form-field>
              <mat-label>職務/職稱</mat-label>
              <input matInput type='text' [(ngModel)]="work.position"
              name = "position_{{work.id}}">
            </mat-form-field>
            <mat-form-field>
              <mat-label>起訖日期</mat-label>
              <mat-date-range-input [rangePicker]="workpicker" type='text' [(ngModel)]="work.duringDate"
                name = "duringDate_{{work.id}}">
                <input matStartDate placeholder="Start date">
                <input matEndDate placeholder="End date">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="workpicker"></mat-datepicker-toggle>
        <mat-date-range-picker #workpicker></mat-date-range-picker>
            </mat-form-field>

            <mat-form-field>
              <mat-label>薪資</mat-label>
              <input matInput type='text' [(ngModel)]="work.salary"
              name = "salary_{{work.id}}">
            </mat-form-field>
            <mat-form-field>
              <mat-label>離職原因</mat-label>
              <input matInput type='text' [(ngModel)]="work.reason"
              name = "reason_{{work.id}}">
            </mat-form-field>
            <mat-form-field>
              <mat-label>面談紀錄</mat-label>
              <input matInput type='text' [(ngModel)]="work.result"
              name = "result_{{work.id}}">
            </mat-form-field>
            <button mat-icon-button color = "accent" type="button" (click)="removeWork()">
              <span class="material-icons">
                cancel
                </span>
            </button>
            </section>
            </form>
             <!-- Add button -->
             <button mat-raised-button color = "primary" type="button" (click)="addWork()">Add Work</button>
            <!-- ngFor code -->
            </mat-expansion-panel>
          </mat-accordion>
      <pre></pre>
    <div align="center"><button mat-raised-button matStepperNext class="example-small-width" color="primary">Next</button></div>
    </form>
  </mat-step>
<!-- 填寫基本資料頁面 -->


  <!-- 填寫專業技能頁面-->
  <mat-step [stepControl]="secondFormGroup" [optional]="isOptional">
  <!-- #enddocregion optional -->
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>專業技能</ng-template>

      <h2>語言能力</h2>
      <mat-list>
        <mat-list-item>英文</mat-list-item>
      <mat-form-field>
        <mat-label>聽</mat-label>
        <mat-select matNativeControl>
          <mat-option value="execellent">流利</mat-option>
          <mat-option value="good">不錯</mat-option>
          <mat-option value="normal">普通</mat-option>
          <mat-option value="not good">不太好</mat-option>
          <mat-option value="bad">完全不會</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>說</mat-label>
        <mat-select matNativeControl>
          <mat-option value="execellent">流利</mat-option>
          <mat-option value="good">不錯</mat-option>
          <mat-option value="normal">普通</mat-option>
          <mat-option value="not good">不太好</mat-option>
          <mat-option value="bad">完全不會</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>讀</mat-label>
        <mat-select matNativeControl>
          <mat-option value="execellent">流利</mat-option>
          <mat-option value="good">不錯</mat-option>
          <mat-option value="normal">普通</mat-option>
          <mat-option value="not good">不太好</mat-option>
          <mat-option value="bad">完全不會</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>寫</mat-label>
        <mat-select matNativeControl>
          <mat-option value="execellent">流利</mat-option>
          <mat-option value="good">不錯</mat-option>
          <mat-option value="normal">普通</mat-option>
          <mat-option value="not good">不太好</mat-option>
          <mat-option value="bad">完全不會</mat-option>
        </mat-select>
      </mat-form-field>
     <mat-form-field>
      <ngx-mat-file-input [formControl]="fileControl" [multiple]="multiple" [accept]="accept" placeholder="上傳證照檔案" >
      </ngx-mat-file-input>
     </mat-form-field>
     <mat-divider></mat-divider>


      <mat-list-item>日文</mat-list-item>
      <mat-form-field>
        <mat-label>聽</mat-label>
        <mat-select matNativeControl>
          <mat-option value="execellent">流利</mat-option>
          <mat-option value="good">不錯</mat-option>
          <mat-option value="normal">普通</mat-option>
          <mat-option value="not good">不太好</mat-option>
          <mat-option value="bad">完全不會</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>說</mat-label>
        <mat-select matNativeControl>
          <mat-option value="execellent">流利</mat-option>
          <mat-option value="good">不錯</mat-option>
          <mat-option value="normal">普通</mat-option>
          <mat-option value="not good">不太好</mat-option>
          <mat-option value="bad">完全不會</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>讀</mat-label>
        <mat-select matNativeControl>
          <mat-option value="execellent">流利</mat-option>
          <mat-option value="good">不錯</mat-option>
          <mat-option value="normal">普通</mat-option>
          <mat-option value="not good">不太好</mat-option>
          <mat-option value="bad">完全不會</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>寫</mat-label>
        <mat-select matNativeControl>
          <mat-option value="execellent">流利</mat-option>
          <mat-option value="good">不錯</mat-option>
          <mat-option value="normal">普通</mat-option>
          <mat-option value="not good">不太好</mat-option>
          <mat-option value="bad">完全不會</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <ngx-mat-file-input [formControl]="fileControl" [multiple]="multiple" [accept]="accept" placeholder="上傳證照檔案" >
        </ngx-mat-file-input>
       </mat-form-field>
       <mat-divider></mat-divider>


      <mat-list-item>越南文</mat-list-item>
      <mat-form-field>
        <mat-label>聽</mat-label>
        <mat-select matNativeControl>
          <mat-option value="execellent">流利</mat-option>
          <mat-option value="good">不錯</mat-option>
          <mat-option value="normal">普通</mat-option>
          <mat-option value="not good">不太好</mat-option>
          <mat-option value="bad">完全不會</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>說</mat-label>
        <mat-select matNativeControl>
          <mat-option value="execellent">流利</mat-option>
          <mat-option value="good">不錯</mat-option>
          <mat-option value="normal">普通</mat-option>
          <mat-option value="not good">不太好</mat-option>
          <mat-option value="bad">完全不會</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>讀</mat-label>
        <mat-select matNativeControl>
          <mat-option value="execellent">流利</mat-option>
          <mat-option value="good">不錯</mat-option>
          <mat-option value="normal">普通</mat-option>
          <mat-option value="not good">不太好</mat-option>
          <mat-option value="bad">完全不會</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>寫</mat-label>
        <mat-select matNativeControl>
          <mat-option value="execellent">流利</mat-option>
          <mat-option value="good">不錯</mat-option>
          <mat-option value="normal">普通</mat-option>
          <mat-option value="not good">不太好</mat-option>
          <mat-option value="bad">完全不會</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <ngx-mat-file-input [formControl]="fileControl" [multiple]="multiple" [accept]="accept" placeholder="上傳證照檔案" >
        </ngx-mat-file-input>
       </mat-form-field>
       <mat-divider></mat-divider>


      <mat-list-item>緬甸文</mat-list-item>
      <mat-form-field>
        <mat-label>聽</mat-label>
        <mat-select matNativeControl>
          <mat-option value="execellent">流利</mat-option>
          <mat-option value="good">不錯</mat-option>
          <mat-option value="normal">普通</mat-option>
          <mat-option value="not good">不太好</mat-option>
          <mat-option value="bad">完全不會</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>說</mat-label>
        <mat-select matNativeControl>
          <mat-option value="execellent">流利</mat-option>
          <mat-option value="good">不錯</mat-option>
          <mat-option value="normal">普通</mat-option>
          <mat-option value="not good">不太好</mat-option>
          <mat-option value="bad">完全不會</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>讀</mat-label>
        <mat-select matNativeControl>
          <mat-option value="execellent">流利</mat-option>
          <mat-option value="good">不錯</mat-option>
          <mat-option value="normal">普通</mat-option>
          <mat-option value="not good">不太好</mat-option>
          <mat-option value="bad">完全不會</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>寫</mat-label>
        <mat-select matNativeControl>
          <mat-option value="execellent">流利</mat-option>
          <mat-option value="good">不錯</mat-option>
          <mat-option value="normal">普通</mat-option>
          <mat-option value="not good">不太好</mat-option>
          <mat-option value="bad">完全不會</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <ngx-mat-file-input [formControl]="fileControl" [multiple]="multiple" [accept]="accept" placeholder="上傳證照檔案" >
        </ngx-mat-file-input>
       </mat-form-field>
       <mat-divider></mat-divider>


      <mat-list-item>印尼文</mat-list-item>
      <mat-form-field>
        <mat-label>聽</mat-label>
        <mat-select matNativeControl>
          <mat-option value="execellent">流利</mat-option>
          <mat-option value="good">不錯</mat-option>
          <mat-option value="normal">普通</mat-option>
          <mat-option value="not good">不太好</mat-option>
          <mat-option value="bad">完全不會</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>說</mat-label>
        <mat-select matNativeControl>
          <mat-option value="execellent">流利</mat-option>
          <mat-option value="good">不錯</mat-option>
          <mat-option value="normal">普通</mat-option>
          <mat-option value="not good">不太好</mat-option>
          <mat-option value="bad">完全不會</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>讀</mat-label>
        <mat-select matNativeControl>
          <mat-option value="execellent">流利</mat-option>
          <mat-option value="good">不錯</mat-option>
          <mat-option value="normal">普通</mat-option>
          <mat-option value="not good">不太好</mat-option>
          <mat-option value="bad">完全不會</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>寫</mat-label>
        <mat-select matNativeControl>
          <mat-option value="execellent">流利</mat-option>
          <mat-option value="good">不錯</mat-option>
          <mat-option value="normal">普通</mat-option>
          <mat-option value="not good">不太好</mat-option>
          <mat-option value="bad">完全不會</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <ngx-mat-file-input [formControl]="fileControl" [multiple]="multiple" [accept]="accept" placeholder="上傳證照檔案" >
        </ngx-mat-file-input>
       </mat-form-field>
       <mat-divider></mat-divider>

      <mat-list-item>其他</mat-list-item>
      <mat-form-field>
        <mat-label>語言</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>聽</mat-label>
        <mat-select matNativeControl>
          <mat-option value="execellent">流利</mat-option>
          <mat-option value="good">不錯</mat-option>
          <mat-option value="normal">普通</mat-option>
          <mat-option value="not good">不太好</mat-option>
          <mat-option value="bad">完全不會</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>說</mat-label>
        <mat-select matNativeControl>
          <mat-option value="execellent">流利</mat-option>
          <mat-option value="good">不錯</mat-option>
          <mat-option value="normal">普通</mat-option>
          <mat-option value="not good">不太好</mat-option>
          <mat-option value="bad">完全不會</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>讀</mat-label>
        <mat-select matNativeControl>
          <mat-option value="execellent">流利</mat-option>
          <mat-option value="good">不錯</mat-option>
          <mat-option value="normal">普通</mat-option>
          <mat-option value="not good">不太好</mat-option>
          <mat-option value="bad">完全不會</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>寫</mat-label>
        <mat-select matNativeControl>
          <mat-option value="execellent">流利</mat-option>
          <mat-option value="good">不錯</mat-option>
          <mat-option value="normal">普通</mat-option>
          <mat-option value="not good">不太好</mat-option>
          <mat-option value="bad">完全不會</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <ngx-mat-file-input [formControl]="fileControl" [multiple]="multiple" [accept]="accept" placeholder="上傳證照檔案" >
        </ngx-mat-file-input>
       </mat-form-field>
       <mat-divider></mat-divider>
  </mat-list>
  <pre></pre>
  <h2>專業技能</h2>
  <mat-list>
    <mat-list-item>電腦技能</mat-list-item>
    <mat-checkbox class="example-small-width">Word</mat-checkbox>
    <mat-checkbox class="example-small-width">Excel</mat-checkbox>
    <mat-checkbox class="example-small-width">PowerPoint</mat-checkbox>

    <section class="example-section">
    <mat-checkbox class="example-small-width" [(ngModel)]="chTyping">中文打字</mat-checkbox>
    <mat-form-field class="example-small-width" *ngIf= "chTyping == true">
      <mat-label>字數</mat-label>
        <input matInput type="number" [(ngModel)]="chTypingValue">
      </mat-form-field>
    </section>
  </mat-list>



  <pre></pre>
      <div>
        <button mat-raised-button matStepperPrevious color="primary">Back</button>
        <button mat-raised-button matStepperNext color="primary">Next</button>
      </div>
    </form>
  </mat-step>
  <!-- 填寫專業技能頁面-->


  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-raised-button matStepperPrevious color="primary">Back</button>
      <button mat-raised-button color="primary" (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
